body {
  background-color: lavender;
  font-family: monospace;
  margin-left: 12.5%;
  margin-right: 12.5%;
  background-size: auto 100%;
  background-position: center;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* width: 75%; */
  text-align: center;
  background-color: skyblue;
  opacity: 80%;
  border-radius: 15px;
}
.header_title {
  width: 100%;
}
img {
  width: 100%;
}

main {
  margin-top: 2.5%;
  padding-left: 5%;
  border-radius: 15px;
}

select {
  margin-left: 5%;
  width: 40%;
}
.movie_info {
  /* height: 6rem; */
  min-height: 60px;
}

input {
  width: 35%;
}
button {
  width: 30%;
}
main {
  background-color: lavender;
  opacity: 80%;
}

/* .movie_description {
  font-size: 14px;
} */
